@import "./rose-pine.css";

* {
    font-family: FiraCode Nerd Font, sans-serif;
    font-weight: 500;
    font-size: 13px;
}

window#waybar {
    background-color: transparent;
    color: @text;
}


button:hover {
    background: inherit;
    box-shadow: none;
}

#workspaces {
    box-shadow: none;
	text-shadow: none;
    margin: 3px 0 0 0;
    border-radius: 10px 0 0 10px;
}
#workspaces button {
    border: none;
    box-shadow: none;
	text-shadow: none;
    padding: 3px 7px;
    border-radius: 10px;
    background-color: transparent;
    color: @text;
}
#workspaces button.active {
    padding: 3px 15px;
    background-color: @foam;
    color: @base;

    animation: ws_active 20s ease-in-out 1;
    transition: all 0.4s cubic-bezier(.55,-0.68,.48,1.682);
}
#workspaces button:hover {
    background-color: @highlightLow;
    color: @text;

    animation: ws_active 20s ease-in-out 1;
    transition: all 0.4s cubic-bezier(.55,-0.68,.48,1.682);
}
#window {
    margin: 3px 3px 0 0;
    border-radius: 0 10px 10px 0;
}

#clock,
#battery,
#backlight,
#network,
#pulseaudio,
#window,
#workspaces {
    padding: 3px 10px;
    background-color: @base;
}



#network {
    background-color: @foam;
    color: @base;
    margin: 3px 0 0 0;
    border-radius: 10px 0 0 10px;
}
#network.disconnected {
    background-color: @love;
}
#network:hover {
    background-color: #56949f;
}
#pulseaudio {
    background-color: @gold;
    color: @base;
    margin: 3px 0 0 0;
}
#pulseaudio.muted {
    color: @muted;
}
#pulseaudio:hover {
    background-color: #ea9d34;
}
#clock {
    background-color: @base;
    color: @text;
    margin: 3px 3px 0 0;
    border-radius: 0 10px 10px 0;
}


#battery {
    background-color: @base;
    color: @text;
    margin: 3px 0 0 3px;
    border-radius: 10px 0 0 10px;
}
#battery.charging, #battery.plugged {
    background-color: @green;
    color: @base;
}
#battery.critical:not(.charging) {
    background-color: @love;
    color: @base;
}
#backlight {
    background-color: @gold;
    color: @base;
    margin: 3px 0 0;
    border-radius: 0 10px 10px 0;
}


